#main-about {
  h2 {
    font-size: $font-size-5;

    @include responsive(em(920)) {
      font-size: $font-size-4;
    }

    @include responsive(em(600)) {
      line-height: 1.2;
    }
  }
}

// about-info-1
.about-info-1 {
  .container {
    padding: 8rem 2rem 3rem;
    text-align: center;

    @include responsive(em(600)) {
      padding-top: 4rem;
    }
  }

  h2 {
    margin-inline: auto;
    max-width: 75rem;
  }

  p {
    margin-inline: auto;
    max-width: 40rem;
  }

  .coloured-text {
    color: $color-3;
  }
}

// about-info-2
.about-info-2 {
  .container {
    padding: 3rem 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15%;
  }

  .coloured-text {
    color: $color-3;
  }
}

.about-info-2-img-box {
  flex-basis: 20%;
  align-self: center;

  @include responsive(em(600)) {
    flex-basis: 40%;
  }
}

.about-info-2-box {
  flex-basis: 50%;

  @include responsive(em(600)) {
    flex-basis: 100%;
    text-align: center;
  }
}

// about-info-3
.about-info-3 {
  .container {
    padding: 3rem 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5%;

    @include responsive(em(600)) {
      flex-basis: 40%;
    }
  }

  .coloured-text {
    color: $color-2;
  }

  .about-info-3-img-box {
    flex-basis: 40%;
    align-self: center;

    @include responsive(em(600)) {
      flex-basis: 70%;
      margin-top: 3rem;
    }
  }

  .about-info-3-box {
    flex-basis: 52%;

    @include responsive(em(600)) {
      flex-basis: 100%;
      text-align: center;
    }
  }
}

// about-info-4
.about-info-4 {
  .container {
    padding: 8rem 2rem;
  }

  .coloured-text {
    color: $color-3;
  }

  h2 {
    text-align: center;
    margin-bottom: 6rem;
  }

  .photos {
    display: flex;
    justify-content: center;
    gap: 8rem;

    @include responsive(em(600)) {
      flex-direction: column;
      align-items: center;
      text-align: center;
    }

    .photo {
      max-width: 30rem;
    }
  }
}
