#main-contact {
  h2 {
    font-size: $font-size-5;
    margin-bottom: 2rem;

    @include responsive(em(920)) {
      font-size: $font-size-4;
    }
  }

  h3 {
    font-size: $font-size-2;
    color: $color-3;
  }

  h4 {
    margin: 0;
  }

  p {
    margin: 0;
  }
}

// grid box
.grid-box {
  padding: 8rem 2rem;
  display: grid;
  grid-template-areas:
    'contact-info contact-us'
    'direct-contact-info facturation-info';

  @include responsive(em(780)) {
    grid-template-areas:
      'contact-info'
      'contact-us'
      'direct-contact-info'
      'facturation-info';

    text-align: center;
  }

  @include responsive(em(600)) {
    padding-top: 4rem;
  }

  .contact-info {
    grid-area: contact-info;

    h3 {
      margin: 0;
    }
  }

  .contact-us {
    grid-area: contact-us;

    form {
      @include responsive(em(780)) {
        margin-inline: auto;
      }
    }
  }

  .contact-info,
  .contact-us {
    .container {
      margin-bottom: 5rem;
    }
  }

  .direct-contact-info {
    grid-area: direct-contact-info;
  }

  .facturation-info {
    grid-area: facturation-info;
  }
}

// contact-info
.contact-info-email,
.contact-info-phone {
  display: flex;
  align-items: center;
  gap: 3rem;
  margin-bottom: 2rem;

  @include responsive(em(780)) {
    justify-content: center;
  }
}

.contact-icon {
  font-size: $font-size-3;
}

.contact-info-socials {
  display: flex;
  gap: 4rem;

  @include responsive(em(780)) {
    justify-content: center;
  }

  a {
    font-size: $font-size-3;
    color: $text-color;

    &:hover,
    &:focus {
      color: $color-3;
    }
  }
}

// direct-contact-info
.production-sale,
.media-marketing {
  display: flex;
  flex-wrap: wrap;
  column-gap: 2rem;
  align-items: center;
  margin-bottom: 2rem;

  @include responsive(em(780)) {
    justify-content: center;
  }

  h3 {
    width: 100%;
    font-size: $font-size-2;
  }
}

.production-sale h3 {
  color: $color-3;
}

.media-marketing h3 {
  color: $color-2;
}

// facturation-info
.facturation-info {
  .container div {
    margin-bottom: 2rem;
  }

  p {
    line-height: 1.4;

    &.bold {
      font-weight: $font-weight-bold;
      font-size: $font-size-2;
    }
  }
}

// maps
.maps {
  background: $text-color;
  color: $color-6;

  .container {
    display: flex;
    flex-wrap: wrap;
    padding: 5rem 2rem;
    justify-content: space-between;

    @include responsive(em(780)) {
      justify-content: center;
    }
  }

  .residence-box,
  .factory-box {
    flex-basis: 48%;

    @include responsive(em(780)) {
      flex-basis: 80%;
    }
  }

  .residence-box {
    @include responsive(em(780)) {
      margin-bottom: 5rem;
    }
  }

  .contact-icon {
    font-size: $font-size-5;
    width: 4.4rem;
    min-width: 4.4rem;

    svg {
      fill: $color-6;
    }
  }

  .residence-info,
  .factory-info {
    display: flex;
    align-items: center;
    gap: 2rem;
    height: 5.8rem;
    margin-bottom: 2rem;
  }

  .gmap_canvas {
    overflow: hidden;
    height: 30rem;
  }
}
