#main-home {
  h1 {
    font-size: $font-size-8;
    text-align: center;
    background: $color-4;
    margin: 0;
    padding-top: 8rem;
    padding-bottom: 5rem;

    @include responsive(em(920)) {
      font-size: $font-size-6;
    }

    a {
      color: $color-3;
    }
  }
}

// labels
.labels {
  background: $color-1;

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10rem 2rem;
  }
}

.labels-heading {
  flex-basis: max-content;

  h2 {
    color: $color-4;

    @include responsive(em(920)) {
      font-size: $font-size-5;
    }
  }
}

.v-label-box {
  flex-basis: 15rem;

  @include responsive(em(920)) {
    flex-basis: 10rem;
  }
}

.secondary-labels {
  flex-basis: max-content;
  display: flex;
  flex-direction: column;

  img {
    max-width: 8.5rem;
  }
}

.label {
  display: flex;
  align-items: center;
  gap: 5rem;

  p {
    color: $color-4;
    font-size: $font-size-3;
    font-weight: $font-weight-bold;
    line-height: 1;

    @include responsive(em(920)) {
      font-size: $font-size-2;
      line-height: 1.2;
    }
  }
}

// main-page-vegstory
.main-page-vegstory {
  background: $color-4;

  .vegetable-line {
    transform: translateY(-50%);
  }

  .container {
    padding: 10rem 3rem 15rem;
    text-align: center;

    @include responsive(em(920)) {
      padding-block: 5rem 12rem;
    }
  }

  h2 {
    margin-block: 2rem;

    @include responsive(em(920)) {
      font-size: $font-size-5;
    }

    a {
      color: $text-color;
    }
  }

  p {
    max-width: 33rem;
    margin-inline: auto;
  }

  .vegstory-btn {
    background-color: $color-2;
    margin: 3rem auto;
  }

  .main-page-vegstory-img-box {
    max-width: 55rem;
    margin-inline: auto;

    @include responsive(em(920)) {
      max-width: 45rem;
    }
  }
}

// main-page-vegshop
.main-page-vegshop {
  background: $color-5;

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15rem 0 20rem;

    @include responsive(em(920)) {
      padding-block: 5rem 12rem;
    }
  }
}

.main-page-vegshop-box {
  width: 55%;

  h2 a {
    color: $text-color;

    @include responsive(em(920)) {
      font-size: $font-size-5;
    }
  }

  p {
    padding-right: 17rem;
  }
}

.main-page-vegshop-img-box {
  width: 40%;
}

.vegshop-btn {
  margin-top: 6rem;
}
