// product header
#main-product-student {
  h1 {
    text-align: center;
    font-size: $font-size-6;
    margin-bottom: 7rem;

    @include responsive(em(920)) {
      font-size: $font-size-5;
    }

    @include responsive(em(600)) {
      font-size: $font-size-4;
      margin-block: 1.5rem 4rem;
    }
  }

  h2 {
    font-size: $font-size-4;

    @include responsive(em(780)) {
      font-size: $font-size-3-4;
    }
  }
}

.product-header {
  .container {
    padding: 3rem 2rem;

    img {
      margin-inline: auto;

      @include responsive(em(920)) {
        max-width: 90%;
      }
    }
  }
}

// product info 1
.product-info-1 {
  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 6rem 2rem;

    @include responsive(em(600)) {
      justify-content: center;
    }
  }

  .info-text {
    flex-basis: 42%;

    @include responsive(em(600)) {
      flex-basis: 100%;
      text-align: center;
    }
  }

  .info-img-box {
    flex-basis: 50%;

    @include responsive(em(600)) {
      flex-basis: 80%;
      margin-top: 2rem;
    }
  }

  h2 {
    margin-top: 0;
  }
}

// product info 2
.product-info-2 {
  .container {
    display: flex;
    flex-wrap: wrap;
    // justify-content: space-between;
    padding: 4rem 2rem;

    @include responsive(em(1000)) {
      justify-content: center;
    }
  }

  .info-img-box {
    flex-basis: 50%;

    @include responsive(em(1000)) {
      flex-basis: 80%;
    }
  }

  .info-text {
    display: flex;
    justify-content: space-between;
    flex-basis: 50%;
    flex-wrap: wrap;
    align-items: center;
    background: lighten($color-2, 39%);
    font-family: $secondary-font-family;
    padding-inline: 2rem;

    @include responsive(em(1000)) {
      flex-basis: 80%;
    }

    @include responsive(em(600)) {
      text-align: center;
    }
  }

  p {
    font-size: $font-size-3-4;

    &:nth-last-of-type(1) {
      color: $color-3;
    }

    &:nth-last-of-type(2) {
      color: $color-2;
    }
  }

  li {
    display: flex;
    gap: 2rem;
    align-items: center;
    font-size: $font-size-3-4;
    margin-block: 1rem;

    i {
      font-size: $font-size-1;
    }
  }

  .info-text-composition,
  .info-text-weight {
    flex-basis: max-content;
    padding-left: 1rem;

    @include responsive(em(600)) {
      flex-basis: 100%;
    }

    h2,
    p {
      margin: 0;
      line-height: 1.4;
    }
  }

  .info-text-weight {
    @include responsive(em(600)) {
      margin-top: 2rem;
    }

    p {
      font-size: $font-size-4;

      @include responsive(em(780)) {
        font-size: $font-size-3-4;
      }
    }
  }
}

// nutritional data
.nutritional-data {
  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 4rem 2rem;
  }

  .nutritional-data-table {
    flex-basis: 38%;
    border: 1px solid $text-color;
    padding-block: 4rem;
    font-family: $secondary-font-family;

    @include responsive(em(780)) {
      flex-basis: 100%;
    }

    th {
      font-size: $font-size-4;
      font-weight: $font-weight-light;
      text-align: left;
      padding: 2rem;

      @include responsive(em(780)) {
        font-size: $font-size-3-4;
      }
    }

    td {
      font-size: $font-size-3-4;
      padding: 1rem 3rem;

      &:nth-child(2) {
        color: $color-3;
        text-align: right;
      }
    }
  }

  .composition-alergens {
    flex-basis: 60%;
    text-align: justify;
    padding-right: 3rem;

    @include responsive(em(780)) {
      flex-basis: 100%;
    }
  }
}

// gallery
.gallery {
  .container {
    padding: 6rem 2rem;
  }

  h2 {
    text-align: center;
  }

  .gallery-images {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 25rem;
    gap: 4rem;
    padding-inline: 4rem;

    @include responsive(em(600)) {
      grid-template-columns: 1fr;
    }

    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }
}

// contact
.contact {
  .container {
    padding: 8rem 2rem;

    @include responsive(em(980)) {
      padding-top: 3rem;
    }
  }

  h2 {
    max-width: 70rem;
    text-align: center;
    margin-inline: auto;
  }

  p {
    text-align: center;
  }
}
