@mixin container($width: 120rem) {
  max-width: $width;
  margin: 0 auto;
}

@mixin ease-out {
  transition: 0.2s all ease-in-out;
}

// Responsive
@mixin responsive($width) {
  @media screen and (max-width: $width) {
    @content;
  }
}
