// Color
$color-1: hsl(31, 53%, 34%);
$color-2: hsl(30, 80%, 55%);
$color-3: hsl(84, 65%, 44%);
$color-4: hsl(0, 0%, 98%);
$color-5: hsl(82, 52%, 96%);
$text-color: hsl(0, 0%, 0%);

// Font family
$primary-font-family: 'Open Sans', Sans-serif;
$secondary-font-family: 'Simplisicky Fill', Sans-serif;

// Font weight
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-bold: 600;

// Font size
$font-size-1: 1.4rem;
$font-size-2: 1.6rem;
$font-size-3: 2.2rem;
$font-size-4: 4rem;
$font-size-5: 6rem;
$font-size-6: 7rem;
