footer {
  background: $text-color;

  .container {
    max-width: 110rem;
    padding: 8rem 2rem 6rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    color: $color-4;
    font-size: $font-size-0;
    font-weight: $font-weight-bold;

    @include responsive(em(600)) {
      flex-direction: column;
      align-items: center;
      padding-top: 4rem;
    }

    a {
      color: $color-4;
    }
  }

  section {
    flex-basis: max-content;

    @include responsive(em(600)) {
      text-align: center;
      margin-bottom: 4rem;
    }
  }

  .logo {
    display: block;
  }

  h3 {
    display: inline-block;
    border-bottom: 1px solid $color-4;
  }

  h3,
  .logo {
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 4rem;
  }

  li {
    display: flex;
    gap: 2.5rem;
    margin-bottom: 1.5rem;

    @include responsive(em(600)) {
      justify-content: center;
    }

    i {
      font-size: $font-size-2;
    }

    p {
      margin: 0;
    }
  }
}

.contact-list li {
  margin-bottom: 3rem;
}

.footer-socials-list {
  display: flex;
  gap: 3rem;

  i {
    font-size: $font-size-3;
  }
}

.you-vegan h3,
.products h3 a {
  text-transform: uppercase;
  color: $color-2;
  font-size: $font-size-1;

  @include responsive(em(920)) {
    font-size: $font-size-0;
  }
}

.you-vegan-list a {
  &:hover,
  &:focus {
    color: $color-3;
  }
}

section.veg-news {
  flex-basis: 30rem;

  @include responsive(em(920)) {
    flex-basis: 100%;
    margin-top: 5rem;
  }

  h3 {
    font-family: $secondary-font-family;
    font-size: $font-size-5;
    color: $color-3;
    margin-bottom: 1rem;

    @include responsive(em(920)) {
      font-size: $font-size-3-4;
    }
  }

  p {
    line-height: 1.6;

    @include responsive(em(920)) {
      font-size: $font-size-0;
    }
  }

  input,
  .veg-news-btn {
    font-size: $font-size-1;
    border-radius: 3rem;
    width: 100%;
    margin-bottom: 1rem;
    padding: 1rem;
  }

  input {
    background: lighten($text-color, 10%);
    color: $color-4;
    margin-top: 1rem;
    border: none;
    outline: none;
    box-shadow: none;
  }

  .veg-news-btn {
    letter-spacing: 0.2rem;
  }
}

.copyright {
  font-size: $font-size-1;
  color: $color-4;
  text-align: center;
  margin: 0;
  padding-block: 2rem;

  @include responsive(em(920)) {
    font-size: $font-size-0;
  }
}
