.heading {
  margin-top: 2rem;
  margin-bottom: 0;
  background: $color-1;

  .container {
    padding: 2rem;
  }

  h1 {
    font-size: $font-size-8;
    color: $color-4;

    @include responsive(em(920)) {
      font-size: $font-size-6;
    }

    @include responsive(em(600)) {
      font-size: $font-size-5;
      margin-block: 2rem;
    }
  }
}
