.site-header {
  margin-top: 1.5rem;
  background-color: $color-0;
  border-top: 1px solid darken($color-4, 4%);
  border-bottom: 1px solid darken($color-4, 4%);
  font-weight: $font-weight-bold;
  font-size: $font-size-1;
  box-shadow: 0 7px 18px -1px darken($color-4, 20%);
  // position: fixed;
  // z-index: 1;
  // width: 100%;

  .container {
    max-width: 130rem;
    margin-inline: auto;
    padding: 1rem 5rem;
    display: flex;
    align-items: center;
  }
}

.logo {
  width: 24rem;
  min-width: 24rem;
}

.menu-list {
  display: flex;
  gap: 2rem;

  a {
    color: $color-2;
    padding: 1rem;

    &:active,
    &:hover {
      color: darken($color-2, 25%);
    }
  }
}

.header-socials-list {
  margin-left: 5rem;
  display: flex;
  gap: 2rem;

  a {
    color: $color-3;
  }
}

.menu {
  margin-left: auto;
}
