.btn {
  padding: 1.5rem 6rem;
  font-size: $font-size-3;
  font-weight: $font-weight-bold;
  text-transform: uppercase;
  color: $color-4;
  background: $color-3;
  border-radius: 3rem;
  display: block;
  width: max-content;
  text-align: center;
}
